@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Karla:wght@700&display=swap');

/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif; 
*/


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: revert;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
    width:42rem;
    height: 41.5rem;
    background-color: #1F2937;
    border-radius: 1.25rem;
    padding: 4rem 3rem 1.5rem;
}


h1 {
    font-family: 'Karla', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
    letter-spacing: -.25px;
    margin-bottom: .625rem;
}

h1 span {
    color: #4ADF86;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    line-height: 1.75;
    text-align: left;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input[type=number] {
    text-align: center;
    max-width: 2.25rem;
    padding: .3rem .3rem;
    border: none;
}

input[type="number"] {
    margin-left: .5rem;
    margin-right: .5rem;
}

.formelements {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #ffffff;
    border-bottom: 1px solid #2F3E53;
    margin-bottom: 2.2rem;
}

.pwdlabel label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: .75rem;
}

.pwdlabel {
    width: 100%;
    text-align: left;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    background: #ffffff;
    border-radius:2rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #ffffff;
    height: 0.5rem;
    border-radius:2rem;
  }
  
  input[type="range"]::-moz-range-track {
    background: #ffffff;
    height: 0.5rem;
    border-radius:2rem;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, #4adf86 0%,#4adf86 50%,#20db6b 51%,#20db6b 100%);
    cursor: pointer;
    margin-top: -.375rem;
    height: 1.25rem;
    width: 1.25rem;   
  }
  

  .checkbox {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
    font-size: .875rem;
  }
  
  .checkbox div {
    min-width: 100%;
    width: 100%;
    margin-bottom: .75rem;
    display: flex;
    justify-content: space-between;
  }




  button {
    margin-bottom: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    width: 14rem;
    height: 2.625rem;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    outline: none;
    border-radius: .4rem;

    cursor: pointer;
  }


.pwdlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1rem;
}

  .pwd {
    position: relative;
    background-color: #273549;
    padding: 1rem .625rem;
    width:48%;
    margin-bottom: 1.25rem;
    border-radius: .5rem;
    text-align: center;
    color: #55F991;
    cursor: pointer;
  }

  .pwd span {
    color: #1d2735;
  }

  

  #tooltip-div {
    position: relative;
  }

  .tooltip {
    position: absolute;
    left: 0;
    top: 0;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    padding: 0.5rem 1rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }


  @media screen and (max-device-width: 680px) {
    .container {
        height: auto;
    }

    .alphabets {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .alphabets label {
        width: 10rem;
        margin: 0 0 1.35rem;
    }

    .pwd {
        flex-wrap: wrap;
        width: 100%;
    }
    
  }